.oneByOne {
  background: rgb(130, 82, 1);
  border: 3px solid #999;
  float: left;
  height: 150px;
  width: 150px;
}

.twoByTwo {
  background: rgb(255, 0, 0);
  border: 3px solid #999;
  float: left;
  height: 300px;
  width: 300px;
}

.twoByTwoSelected {
  background: rgb(0, 38, 255);
  border: 3px solid #999;
  float: left;
  height: 300px;
  width: 300px;
}

.twoByOne {
  background: rgb(130, 82, 1);
  border: 3px solid #999;
  float: left;
  height: 300px;
  width: 150px;
}

.twoByOneSelected {
  background: rgb(0, 38, 255);
  border: 3px solid #999;
  float: left;
  height: 300px;
  width: 150px;
}

.oneByTwo {
  background: rgb(130, 82, 1);
  border: 3px solid #999;
  float: left;
  height: 150px;
  width: 300px;
}

.oneByTwoSelected {
  background: rgb(0, 38, 255);
  border: 3px solid #999;
  float: left;
  height: 150px;
  width: 300px;
}

button.right{
  transform: rotate(90deg);
}

button.down{
  transform: rotate(180deg);
}

button.left{
  transform: rotate(270deg);
}